<div class="container text-center justify-content-center">
    <form>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Correo</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="ejemplo@correo.com">
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label for="inputCarrera">Carrera</label>
                <select id="inputCarrera" class="form-control">
                    <option disabled selected>Selecciona tu Carrera</option>
                    <option>Ingeniería Eléctrica</option>
                    <option>Ingeniería Electrónica</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Teléfono</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Teléfono">
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-sm-6">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group col-sm-6">
                <label for="repassword">Repite ontraseña</label>
                <input type="password" class="form-control" id="repassword">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registro</button>
    </form>
</div>
