<div class="container text-center justify-content-center">
    <form >
        <div>
            <div class="form-group col">
                <label for="inputEmail" class="mb-2">Correo</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Nombre">
            </div>
            <div class="form-group col">
                <label for="inputPassword" class="mb-2">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Apellido">
            </div>
        </div>
    </form>
</div>