<div class="container text-center justify-content-center">
    <form [formGroup]="registrarUsuario" (ngSubmit)="registrar()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="name" placeholder="Nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" id="inputPassword4" formControlName="lastName" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Correo</label>
            <input type="email" class="form-control" id="inputAddress" formControlName="email" placeholder="ejemplo@correo.com">
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label for="exampleFormControlSelect1">Carrera</label>
                <select class="form-control col-md-4" id="exampleFormControlSelect1" formControlName="carrera">
                    <option value="" disabled selected hidden>Seleccione su Carrera</option>
                    <option *ngFor="let item of carreras">{{item.name}}</option>
                </select>
              </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Teléfono</label>
                <input type="text" class="form-control" id="inputAddress2" formControlName="telefono" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">G. Investigación</label>
                <select class="form-control col-md-4" id="exampleFormControlSelect1" formControlName="igroup">
                    <option value="" disabled selected hidden>Seleccione su G. de Investigación</option>
                    <option *ngFor="let item of igroups">{{item.name}}</option>
                </select>
              </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-sm-6">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="form-group col-sm-6">
                <label for="repassword">Repite ontraseña</label>
                <input type="password" class="form-control" id="repassword" formControlName="repetirPassword">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registro</button>
    </form>
</div>
