<div class="container d-flex justify-content-center mt-2">
    <!-- Definir plantilla de proyecto -->
    <div class="card" style="width: 75rem;">
        <img class="card-img-top" src="{{proyPic}}" alt="Imagen de proyecto">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">Inscribirme</a>
            <button class="btn btn-warning mx-4" (click)="backClicked()">Atrás</button>
        </div>

        <p-accordion>
            <p-accordionTab header="Equipo Humano">
                <p-accordion>
                    <p-accordionTab header="Profesores">
                        Profesor1:
                    </p-accordionTab>
                    <p-accordionTab header="Estudiantes">
                        Estudiante1:
                        Estudiante2:
                    </p-accordionTab>
                    <p-accordionTab header="Otros">
                        Otro Colaborador
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Estudios Previos">
                <p-accordion>
                    <p-accordionTab header="Problema Global">
                        Profesor1:
                    </p-accordionTab>
                    <p-accordionTab header="Causas y Consecuencias">
                        Estudiante1:
                        Estudiante2:
                    </p-accordionTab>
                    <p-accordionTab header="Alternativas de Solución">
                        Otro Colaborador
                    </p-accordionTab>
                    <p-accordionTab header="Delimitación de la Solución">
                        Otro Colaborador
                    </p-accordionTab>
                    <p-accordionTab header="Proceso de Diseño">
                        Otro Colaborador
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Plan del Proyecto">
                Link
            </p-accordionTab>
            <p-accordion>
                <p-accordionTab header="Diseño o Arquitectura">
                    Diseño o Arquitectura
                </p-accordionTab>
            </p-accordion>
            <p-accordion>
                <p-accordionTab header="Productos o Entregables">
                    Productos o Entregables
                </p-accordionTab>
            </p-accordion>
            <p-accordion>
                <p-accordionTab header="Gestión del Conocimiento">
                    Gestión del Conocimiento
                </p-accordionTab>
            </p-accordion>
            <p-accordion>
                <p-accordionTab header="Referencias">
                    Referencias
                </p-accordionTab>
            </p-accordion>
        </p-accordion>
    </div>

</div>