<!-- Se crea un contenedor para los elementos -->
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <!-- Se usa una card para organizar los elementos -->
            <div class="card text-center">
                <div class="card-body">
                    <h3>Editar Estudiante</h3>
                    <!-- Se crea un formulario para almacenar los datos -->
                    <form>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Correo">
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-secondary btn-lg " (click)="backClicked()">Volver</button>
                            <button class="btn btn-dark btn-lg m-3" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>