<!-- Barra de navegación -->
<!-- Carga los items del modelo en el ts -->
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="../assets/images/logo/logoEscuela.png" height="40" class="mr-2" routerLink="/home">
  </ng-template>
  <ng-template pTemplate="end">
    <!-- Este botón muestra el modal de logueo -->
    <p-button (click)="showModalLogin()" icon="pi pi-sign-in" label="Ingreso"></p-button>
    <p-button (click)="showModalRegDoc()" icon="pi pi-user-plus" label="Registro Docentes" class="mx-2"></p-button>
    <p-button (click)="showModalRegEst()" icon="pi pi-user-plus" label="Registro Estudiantes" class="mx-2"></p-button>
    <!-- Diálogo del modal -->
    <p-dialog header="Registra Docente" [(visible)]="displayRegDoc" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
      [resizable]="false">
      <app-registra-docente></app-registra-docente>
    </p-dialog>
    <p-dialog header="Registra Estudiante" [(visible)]="displayRegEst" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <app-registra-estudiante></app-registra-estudiante>
  </p-dialog>
    <p-dialog header="Ingrese" [(visible)]="displayLogin" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
<app-login></app-login>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayModal=false" label="Ingresar" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
    <!-- Este botón hace cerrar sesión -->
    <p-button *ngIf="logedIn" icon="pi pi-power-off" (click)="logOff()" label="Quit" styleClass="p-button-text"></p-button>
  </ng-template>
</p-menubar>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<i class="fa-solid fa-house"></i>
<router-outlet></router-outlet>