<div class="container mt-4 bg-light">
    <h1>Lista de Proyectos</h1>
    <div class="form-group">
        <strong>Buscar id proyecto</strong>
        <input class="form-control" [(ngModel)]="id" style="width: 12rem;">
    </div>
    <!-- Lista de proyectos en tabla -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proy of proyects1 | tableFilter: id">
                <td>{{proy.id}}</td>
                <td>{{proy.title}}</td>
                <td>{{proy.description}}</td>
                <td routerLink="/edit-proy/{{proy.id}}"><i class="fas fa-edit fa-lg text-center"></i></td>
        </tbody>
    </table>
</div>
<p-paginator [rows]="cantidadPag" [totalRecords]="cantidadTotal" (onPageChange)="paginate($event)">
</p-paginator>