<div class="container mt-4 bg-light">
    <h1>Lista de Docentes</h1>
    <div class="form-group">
        <strong>Buscar profesor</strong>
        <input class="form-control" [(ngModel)]="name" style="width: 18rem;">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let docente of docentes1 | tableFilter: name">
                <td>{{docente.id}}</td>
                <td>{{docente.name}}</td>
                <td>{{docente.lastName}}</td>
                <td routerLink="/editar-docente/{{docente.id}}"><i class="fas fa-edit fa-lg text-center"></i></td>
        </tbody>
    </table>
</div>
<p-paginator [rows]="cantidadPag" [totalRecords]="cantidadTotal" (onPageChange)="paginate($event)">
</p-paginator>