<div class="container text-center mt-4">
    <div class="card d-flex justify-content-center p-4">
        <h1>Política de tratamiento de datos</h1>
        <br>
        <p style="text-align:justify">
            Revise esta información complementaria sobre los derechos de protección de datos:
            • Si desea acceder, corregir, actualizar o solicitar la eliminación de su información personal, puede
            hacerlo en cualquier momento utilizando los datos de contacto proporcionados en la sección Contáctenos
            anterior.
            • Además, puede oponerse al procesamiento de su información personal, pedirnos que restrinjamos el
            procesamiento de su información personal o solicitar la portabilidad de su información personal. Una vez
            más, puede ejercer estos derechos utilizando los datos de contacto proporcionados en Contáctenos arriba.
            • Del mismo modo, si hemos recopilado y procesado su información personal con su consentimiento, puede
            retirar su consentimiento en cualquier momento. Retirar su consentimiento no afectará la legalidad de ningún
            procesamiento que hayamos realizado antes de su retiro, ni afectará el procesamiento de su información
            personal realizado con base en motivos de procesamiento legales distintos del consentimiento.
            • Tiene derecho a quejarse ante una autoridad de protección de datos sobre nuestra recopilación y uso de su
            información personal. Para obtener más información, comuníquese con su autoridad local de protección de
            datos.
            Respondemos a todas las solicitudes que recibimos de personas que desean ejercer sus derechos de protección
            de datos de acuerdo con las leyes de protección de datos aplicables. Sin perjuicio de lo anterior, nos
            reservamos el derecho de mantener en nuestros archivos cualquier información que consideremos necesaria para
            cumplir con nuestras obligaciones legales, resolver disputas y hacer cumplir nuestros acuerdos.
            Derechos de los interesados:
            • Consentimiento y derecho a ser informado
            • Aviso de Privacidad
            • Procedimientos para el tratamiento de datos personales no obtenidos del interesado
            • Derecho de acceso a los datos personales del interesado
            • Portabilidad de datos
            • Rectificación y Borrado de Datos
            • Derecho individual a solicitar la restricción del procesamiento de datos
            • Objeciones individuales y toma de decisiones automatizada
            Si desea plantear una pregunta a E3T o ejercer sus derechos con respecto a sus datos personales, puede
            hacerlo de la siguiente manera:
            • Enviando un correo electrónico a Capstone Admin a capstone.electronics@uis.edu.co citando "CAPSTONE
            DESIGN" en la línea de asunto
            • Comuníquese con nosotros a través de nuestro correo si tiene alguna inquietud sobre cómo DataRep manejará
            los datos personales que necesitaremos para
            prestar nuestros servicios, consulte nuestro aviso de privacidad en <a
                href="https://capstone-design-abet.web.app/tratamiento-datos">capstone-design.web.app/tratamiento-datos</a>.


        </p>
    </div>
</div>